@import "~src/variables";

/// Description design of user interface


main {
  background: $main-bg;
  min-height: $main-min-height;
}

aside {
  background: $sidenav-bg;
  width: $sidenav-width;
  min-height: $sidenav-min-height;
  position: fixed;
  z-index: 1000;
  .scroller {
    overflow-y: auto;
    max-height: $scroller-max-height;
    padding-bottom: $scroller-pdb;
  }
}

.close-aside aside {
  width: 0;
  overflow: hidden;
}

.close-aside .shadow {
  display: none;
}

.shadow {
  background: $shadow-bg;
  width: $shadow-width;
  min-height: $shadow-min-height;
  z-index: 1000;
}

@media (min-width: $md-breakpoint) {
  .shadow {
    display: none;
  }
  .contents, footer {
    // margin-left: $sidenav-width;
  }

  .close-aside .contents,
  .close-aside footer {
    margin-left: 0;
  }

}
