<app-header><app-search></app-search>  </app-header>
<main>
  <div class="content">
      <ng-content></ng-content>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</main>

    <app-footer></app-footer>


